<div class="col-12">
    <h1 class="title">Twitt {{tw._id}}</h1>
    
    <p>{{{tw.message}}}</p>

    <div align="right">
        <a href="/tws" class="btn btn-sm btn-secondary">Return</a>
    </div>
</div>